# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
POSTGRES_URL="postgresql://postgres:password@localhost:5432/last-horizon"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmVhcmJ5LW11c2tveC01NS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=secret_key
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/oao/sign-up